<script setup lang="ts"></script>
<template>
  <v-parallax src="https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==">
    <h1 class="font-italic" style="text-align: center;color: aqua;">My Profile</h1>
    <v-container>
      <v-row justify="center">
        <v-col cols="2">
          <v-img
            src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160149"
            max-width="300"
            max-height="450"
          >
          </v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div style="text-align: center">
            <h3 style="font-size: 30px" class="font-italic">
              นาย สหรัฐ สว่างอารมณ์
            </h3>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="font-italic">
          <h4 style="font-size: 25px">ประวัติการศึกษา</h4>
          <v-table style="border: 1px solid violet; border-collapse: collapse;">
            <thead>
              <tr>
                <th style="font-size: 20px">ข้อมูลด้านการศึกษา</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>รหัสประจำตัว:</td>
                <td>64160149</td>
              </tr>
              <tr>
                <td>เลขที่บัตรประชาชน:</td>
                <td>1209702039378 </td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>วิทยาเขต:</td>
                <td>บางแสน</td>
              </tr>
              <tr>
                <td>หลักสูตร:</td>
                <td>
                  2115025 วท.บ. (วิทยาการคอมพิวเตอร์) ปรับปรุง 64 - ป.ตรี 4 ปี
                  ปกติ
                </td>
              </tr>
              <tr>
                <td>ระดับการศึกษา:</td>
                <td>ปริญญาตรี</td>
              </tr>
              <tr>
                <td>ปีการศึกษาที่เข้า:</td>
                <td>2563 / 3 วันที่ 19/5/2564</td>
              </tr>
              <tr>
                <td>จบการศึกษาจาก:</td>
                <td>บดินทรเดชา (สิงห์ สิงหเสนี) สมุทรปราการ</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card
            style="text-align: center"
            variant="tonal"
            color="blue"
            class="font-weight-black"
          >
            <div style="color: lemonchiffon;">
              <h1>สิ่งที่สนใจ</h1>
              <p style="font-size: 15px">
                สิ่ง ที่สนใจส่วนใหญ่จะเป็นสื่อบันเทิงต่างๆ ไม่ว่าจะเป็นภาพยนตร์ อนิเมชั่น แต่สิ่งที่สนใจมากที่สุดจะเป็นวีดีโอเกม เพราะจะใช้เวลาว่างไปกับการเล่นวีดีโอเกมเพื่อผ่อนคล้ายความเครียด
              </p>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-parallax>
</template>
<style></style>